<h1>Sign up</h1>

<span>Already registered? <%= render "devise/shared/links" %></span>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>
<form>
    <div class="form-group">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "username", :class=> "form-control", :placeholder => "Username or name / surname" %>
        <small class="form-text text-muted">This will be your public username. You will NOT use this to access.</small>
    </div>

    <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email", :class=> "form-control", :placeholder => "Email" %>
        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group" style="margin:0;">
        <%= f.label :password %>


        <%= f.password_field :password, autocomplete: "new-password", :class=> "form-control", :placeholder => "Password" %>
        <% if @minimum_password_length %>
        <%# <em>(<%= @minimum_password_length  characters minimum)</em>  %>
        <small class="form-text text-muted">(<%= @minimum_password_length %> characters minimum)</small>
        <% end %><br />
    </div>

    <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :class=> "form-control", :placeholder => "Confirm password" %>
    </div>

    <div class="actions">
        <%= f.submit "Sign up", :class => 'btn btn-outline-success mb-3' %>
    </div>
</form>

<% end %>