<nav class="navbar navbar-expand-lg navbar-light navbar-purple mb-2" id="navbar">
    <%# <a class="navbar-brand" href="#">Fakesocial</a> %>
    <div class="container">
        <%= image_tag("Fakesocial.svg", :alt=> "rss feed", :class => "fakesocial_image navbar-brand") %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <% dir = "icons/normal-size/navbar/" %>

                <li class="nav-item">
                    <a style="visibility:hidden;">s</a>
                    <%= link_to image_tag(dir+"home.svg", :alt=> "Home img", :class => "navbar-ico"),
                    home_index_path,class:"nav-link navbar-image",:id=>"homeButton" %>

                    <%= link_to "Home" , home_index_path, class:"nav-link appear-link-navbar",:id=>"homeButtonSpan",:style=>"visibility:hidden" %>
                </li>

                <% if user_signed_in? %>

                <li class="nav-item">
                    <a style="visibility:hidden;">s</a>
                    <%= link_to image_tag(dir+"globe.svg", :alt=> "Explore", :class => "navbar-ico"),
                                    posts_path,
                                    class:"nav-link navbar-image",:id=>"exploreButton" %>
                    <%= link_to "Explore" , posts_path, class:"nav-link appear-link-navbar",:style=>"visibility:hidden" %>
                </li>

                <% end %>

                <% if !user_signed_in? %>

                <li class="nav-item" id="signInLi">
                    <a style="visibility:hidden;">s</a>
                    <%= link_to image_tag(dir+"user-add.svg",:alt=> "User",:class => "navbar-ico"), 
                    new_user_registration_path, class:"nav-link navbar-image"%>

                    <%= link_to "Sign up" , new_user_registration_path, class:"nav-link appear-link-navbar",:style=>"visibility:hidden" %>
                </li>


                <% else %>


                <li class="nav-item">
                    <%= link_to "Edit" , edit_user_registration_path,
                    class:"nav-link appear-link-navbar",:style=>"visibility:hidden" %>

                    <%= link_to image_tag(dir+"user-edit.svg",:alt=> "Edit Account",:class =>
                    "navbar-ico"), edit_user_registration_path, class:"nav-link
                    navbar-image",:id=>"editUserButton" %>

                    <%= link_to "Account" , edit_user_registration_path,
                    class:"nav-link appear-link-navbar",:style=>"visibility:hidden" %>
                </li>


                <li class="nav-item">
                    <a style="visibility:hidden;">s</a>
                    <%= link_to image_tag(dir+"log-out.svg",:alt=> "User",:class => "navbar-ico"),
                    destroy_user_session_path, method: :delete, class:"nav-link navbar-image"%>

                    <%= link_to "Sign out" , destroy_user_session_path, method: :delete, class:"nav-link appear-link-navbar", :style=>"visibility:hidden" %>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a style="visibility:hidden;">s</a>
                    <%= link_to image_tag(dir+"add.svg", :alt=> "New post", :class => "navbar-ico rounded-circle"), new_post_path, class:"nav-link navbar-image"%>

                    <%= link_to "Add post" , new_post_path, class:"nav-link appear-link-navbar",:style=>"visibility:hidden" %>
                </li>

            </ul>
            <% end %>
        </div>
    </div>
</nav>