<h1>Oleksandr Kirpachov - first ruby on Rails</h1>
<p> Started at 14.2.21 </p>
<p> 

<%# <img src="./assets/images/github-icon.svg" alt="Github" /> %>
<%= image_tag("github-icon.svg", :alt => "Github") %> You can find my code <a href="https://github.com/OlecsandrKirpa/fakesocial"> here </a> </p>

<style>
img{
    max-width:20px;
}
</style>

<h6>
Useful links:
</h6>
<ul>
    <li>
    <a href="https://github.com/gilbarbara/logos/tree/master/logos"> <%= image_tag("github-icon.svg", :alt => "Github") %> Some logos </a>
    </li>
    
    <li>
    <a href="https://youtu.be/fmyvWz5TUWg"> <%= image_tag("youtube-icon.svg", :alt => "Youtube ") %> Tutorial video - Learn Ruby on Rails</a>
    </li>
    
    <li>
    <a href="https://github.com/flatplanet/railsfriends"> <%= image_tag("github-icon.svg", :alt => "Github") %> Tutorial sample code </a>
    </li>

</ul>

<p>
A huge thank you to : <%= image_tag("github-icon.svg", :alt => "Github") %><a href="https://github.com/flatplanet"> Jonh Elder</a>
</p>