<nav class="navbar navbar-expand-lg navbar-light navbar-purple mb-4" id="navbar">
    <%# <a class="navbar-brand" href="#">Fakesocial</a> %>
    <div class="container">
        <%= image_tag("Fakesocial.svg", :alt=> "rss feed", :class => "fakesocial_image navbar-brand") %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item" id="homeLi">
                    <%= link_to image_tag("home_basic.svg", :alt=> "Home img", :class => "navbar-ico"),
                                root_path,
                                class:"nav-link navbar-image",:id=>"homeButton" %>
                    <%= link_to "Home" , root_path, class:"nav-link my-3",:id=>
                                    "homeButtonSpan",:style=>"display:none" %>
                    <%# , :style=>"display:none;" %>
                </li>

                <% if user_signed_in? %>

                <li class="nav-item" id="exploreLi">
                    <%= link_to image_tag("explore_basic.svg", :alt=> "Explore", :class => "navbar-ico"),
                                    posts_path,
                                    class:"nav-link navbar-image",:id=>"exploreButton" %>
                    <%= link_to "Explore" , posts_path, class:"nav-link my-3",:id=>
                                        "exploreButtonSpan",:style=>"display:none" %>
                </li>

                <% end %>

                <% if !user_signed_in? %>

                <li class="nav-item" id="signInLi">
                    <%= link_to image_tag("user_basic.svg",:alt=> "User",:class => "navbar-ico"),
                                            new_user_registration_path, class:"nav-link
                                            navbar-image",:id=>"signInButton" %>
                    <%= link_to "Sign up - Sign in" , new_user_registration_path,
                                                class:"nav-link my-3",:id=>
                                                "signInButtonSpan",:style=>"display:none" %> <%# %>
                </li>

                <% else %>

                <li class="nav-item" id="editUserLi">
                    <%= link_to image_tag("user_basic.svg",:alt=> "User",:class =>
                                                "navbar-ico"), edit_user_registration_path, class:"nav-link
                                                navbar-image",:id=>"editUserButton" %>
                    <%= link_to "Edit Account" , edit_user_registration_path,
                                                    class:"nav-link my-3",:id=>
                                                    "editUserButtonSpan",:style=>"display:none" %>
                </li>

                <li class="nav-item" id="signOutLi">
                    <%= link_to image_tag("sign_out.svg",:alt=> "User",:class => "navbar-ico"),
                                                destroy_user_session_path, method: :delete, class:"nav-link
                                                navbar-image",:id=>"signOutButton"
                                                %>
                    <%= link_to "Sign out" , destroy_user_session_path, method: :delete, class:"nav-link
                                                    my-3",:id=>
                                                    "signOutButtonSpan",:style=>"display:none" %>
                </li>

                <% end %>

            </ul>
        </div>
    </div>
</nav>