<%= form_with(model: post) do |form| %>

<% if post.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
        <% post.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div id="post_form">
    <div class="row">
        <div class="col">

            <div class="form-group">

                <%= form.text_field :title, :class=>"form-field effect-8", :id=>"titleInput",:placeholder=>"Title", :oninput=>"title()" %>


                <span class="focus-border" style="border-radius:1em"></span>
            </div>



            <div class="form-group">
                <%= form.text_area :description, :class=>"form-field effect-8", :id=>"descriptionInput",:placeholder=>"Description",
                 :style=>"height:60px;", :oninput=>"description()" %>
                <span class="focus-border" style="border-radius:1em"></span>
            </div>


            <div class="form-group">
                <%= form.text_field :tags, :class=>"form-field effect-8", :placeholder=>"Hashtag (#cool #beautiful)",
                :id=>"tagsInput", :oninput=>"tags()" %>
                <span class="focus-border" style="border-radius:1em"></span>
            </div>

            <!-- =========== HIDDEN ELEMENTS: DO NOT TOUCH ===========-->
            <div class="field">
                <%= form.number_field :user_id, value: current_user.id, id: :post_user_id, type:"hidden" %>
            </div>

            <div class="field">
                <%= form.text_field :user_email, value: current_user.email, id: :post_user_email, type:"hidden" %>
            </div>

            <div class="field">
                <%= form.text_field :user_username, value: current_user.username, placeholder: "User username", id: :post_user_username, type:"hidden" %>
            </div>
            <!-- =========== END OF : HIDDEN ELEMENTS: DO NOT TOUCH ===========-->


            <div class="actions">
                <!-- =========== TODO VERIFICA SE I CAMPI NON SONO VUOTI =========== -->
                <%= form.submit :class => 'btn btn-outline-success create-post'%>
            </div>
        </div>
        <div class="col">
            <div class=" border rounded p-3">
                <div class="row">
                    <div class="col">

                        <div class="row email_show_div">
                            <span class="post_username">@<%=current_user.username%><span>
                                    <span class="small_text email_post" id="postEmail">post.user_email</span>
                        </div>
                        <div class="row">
                            <h3 id="postTitle">
                                post.title
                            </h3>
                        </div>
                        <div class="row">
                            <span id="postDescription">aaa

                            </span>
                            <span class="tags ml-2">
                                <a href="#" id="postTags">
                                    tags_links[index]
                                </a>

                            </span>
                        </div>
                        <div class=" row">
                            <span class="small_text">
                                <%= Time.now.to_s.sub! '+0100', 'UTC' %>
                            </span>
                        </div>
                    </div>
                    <div class="dropdown-first flex-column px-2">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>

<script>
    function description() {
        let descInput = document.getElementById("descriptionInput");
        let descOutput = document.getElementById("postDescription");
        console.log(descInput.value)
        descOutput.innerText = descInput.value;
    }

    function tags() {
        let innput = document.getElementById("tagsInput");
        let output = document.getElementById("postTags");
        console.log(innput.value)
        output.innerText = innput.value;
    }

    function title() {
        let innput = document.getElementById("titleInput");
        let output = document.getElementById("postTitle");
        console.log(innput.value)
        output.innerText = innput.value;

    }
</script>