<h1>Posts</h1>

<% @posts.each do |post| %>
<%# if post.user_id == current_user.id%>

<div class="col col-6 border rounded p-3 px-4">
    <div class="row">
        <div class="col">

            <div class="row email_show_div">
                <span class="post_username"><%= post.user_username %><span>
                        <span class="small_text email_post"><%= post.user_email %></span>
            </div>
            <div class="row">
                <h3> <%= post.title %> </h3>
            </div>
            <div class="row">
                <p> <%= post.description %> <span class="tags">
                        <% 
                        tags_links = post.tags.split(" ") 
                        len = tags_links.length()
                        for index in 0..len %>
                        <%# TODO LINKS HASHTAG %>
                        <a href=#>
                            <%=tags_links[index] %>
                        </a>

                        <% end %>
                    </span></p>
            </div>
            <div class="row">
                <span class="small_text"><%= post.created_at %></span>
            </div>
        </div>
        <div class="dropdown-first flex-column px-2">
            <%= link_to image_tag("eye-fill.svg", :alt=> "Edit", :class => "update mx-auto"), post %>
            <div class="dropdown-content">
                <% if post.user_id == current_user.id%>
                <%= link_to image_tag("pencil-square.svg", :alt=> "Edit", :class => "update mx-auto my-2"), edit_post_path(post) %>
                <br>
                <%= link_to image_tag("trash-fill.svg", :alt=> "Edit", :class => "update mx-auto"), post, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<% end %>


<%= link_to 'New Post', new_post_path %>